<li>
  <%= gravatar_for user, size: 50 %>
  <%= link_to user.name, user %>
  <!-- <% if current_user.following?(user) && !current_user?(user) %>
    | <%= link_to "unfollow", current_user.active_relationships.find_by(followed_id: user.id), method: :delete,
                                      data: { confirm: "You sure?" } %>
  <% else %>
    | <%= link_to "follow", current_user.active_relationships.build(followed_id: user.id),
                                      data: { confirm: "Confirm follow" } %>
  <% end %> -->
  <% if current_user.admin? && !current_user?(user) %>
    | <%= link_to "delete", user, method: :delete,
                                      data: { confirm: "You sure?" } %>
  <% end %>
</li>